.idea/.gitignore
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/modules/beepit-server.main.iml
.gradle/file-system.probe
.gradle/8.5/gc.properties
.gradle/8.5/checksums/checksums.lock
.gradle/8.5/fileChanges/last-build.bin
.gradle/8.5/fileHashes/fileHashes.lock
.gradle/9.2.1/gc.properties
.gradle/9.2.1/checksums/checksums.lock
.gradle/9.2.1/checksums/md5-checksums.bin
.gradle/9.2.1/checksums/sha1-checksums.bin
.gradle/9.2.1/executionHistory/executionHistory.bin
.gradle/9.2.1/executionHistory/executionHistory.lock
.gradle/9.2.1/expanded/expanded.lock
.gradle/9.2.1/fileChanges/last-build.bin
.gradle/9.2.1/fileHashes/fileHashes.bin
.gradle/9.2.1/fileHashes/fileHashes.lock
.gradle/9.2.1/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.controller.$AuthController$AddContactRequest$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.controller.$AuthController$AuthResponse$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.controller.$AuthController$ConversationInfo$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.controller.$AuthController$ErrorDTO$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.controller.$AuthController$LoginRequest$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.controller.$AuthController$MessageDTO$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.controller.$AuthController$RegisterRequest$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.domain.model.$AppUser$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.domain.model.$Contact$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.domain.model.$Conversation$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.domain.model.$Message$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.domain.model.$MessageType$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.domain.model.$PrivateMessage$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.domain.model.$User$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.domain.model.$UserSession$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/com.beepit.server.domain.model.$UserStatus$Introspection
build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/com.beepit.server.actor.$ActorSystemProvider$Definition
build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/com.beepit.server.controller.$AuthController$Definition
build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/com.beepit.server.controller.$ChatController$Definition
build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/com.beepit.server.controller.$TestController$Definition
build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/com.beepit.server.websocket.$ChatWebSocketServerWithAkka$Definition
build/classes/java/main/com/beepit/server/Application.class
build/classes/java/main/com/beepit/server/actor/$ActorSystemProvider$Definition.class
build/classes/java/main/com/beepit/server/actor/ActorSystemProvider.class
build/classes/java/main/com/beepit/server/actor/ChatRoomActor.class
build/classes/java/main/com/beepit/server/actor/ChatRoomActor$Command.class
build/classes/java/main/com/beepit/server/actor/ChatRoomActor$ErrorResponse.class
build/classes/java/main/com/beepit/server/actor/ChatRoomActor$GetRoomParticipants.class
build/classes/java/main/com/beepit/server/actor/ChatRoomActor$JoinedRoom.class
build/classes/java/main/com/beepit/server/actor/ChatRoomActor$JoinRoom.class
build/classes/java/main/com/beepit/server/actor/ChatRoomActor$LeaveRoom.class
build/classes/java/main/com/beepit/server/actor/ChatRoomActor$MessageSent.class
build/classes/java/main/com/beepit/server/actor/ChatRoomActor$ParticipantsResponse.class
build/classes/java/main/com/beepit/server/actor/ChatRoomActor$Response.class
build/classes/java/main/com/beepit/server/actor/ChatRoomActor$RoomState.class
build/classes/java/main/com/beepit/server/actor/ChatRoomActor$SendMessage.class
build/classes/java/main/com/beepit/server/actor/ConversationManagerActor.class
build/classes/java/main/com/beepit/server/actor/ConversationManagerActor$Command.class
build/classes/java/main/com/beepit/server/actor/ConversationManagerActor$ConversationFound.class
build/classes/java/main/com/beepit/server/actor/ConversationManagerActor$ConversationsList.class
build/classes/java/main/com/beepit/server/actor/ConversationManagerActor$ErrorResponse.class
build/classes/java/main/com/beepit/server/actor/ConversationManagerActor$GetConversation.class
build/classes/java/main/com/beepit/server/actor/ConversationManagerActor$GetUserConversations.class
build/classes/java/main/com/beepit/server/actor/ConversationManagerActor$MarkMessageDelivered.class
build/classes/java/main/com/beepit/server/actor/ConversationManagerActor$MarkMessageRead.class
build/classes/java/main/com/beepit/server/actor/ConversationManagerActor$MessageSent.class
build/classes/java/main/com/beepit/server/actor/ConversationManagerActor$MessageUpdated.class
build/classes/java/main/com/beepit/server/actor/ConversationManagerActor$Response.class
build/classes/java/main/com/beepit/server/actor/ConversationManagerActor$SendPrivateMessage.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$AddContact.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$AllUsers.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$Command.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$ContactAdded.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$ContactList.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$ErrorResponse.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$GetAllUsers.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$GetContacts.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$GetUser.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$LoginUser.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$RegisterUser.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$Response.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$SetUserOnline.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$UserFound.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$UserLoggedIn.class
build/classes/java/main/com/beepit/server/actor/UserManagerActor$UserRegistered.class
build/classes/java/main/com/beepit/server/controller/$AuthController$AddContactRequest$Introspection.class
build/classes/java/main/com/beepit/server/controller/$AuthController$AuthResponse$Introspection.class
build/classes/java/main/com/beepit/server/controller/$AuthController$ConversationInfo$Introspection.class
build/classes/java/main/com/beepit/server/controller/$AuthController$Definition.class
build/classes/java/main/com/beepit/server/controller/$AuthController$Definition$Exec.class
build/classes/java/main/com/beepit/server/controller/$AuthController$ErrorDTO$Introspection.class
build/classes/java/main/com/beepit/server/controller/$AuthController$LoginRequest$Introspection.class
build/classes/java/main/com/beepit/server/controller/$AuthController$MessageDTO$Introspection.class
build/classes/java/main/com/beepit/server/controller/$AuthController$RegisterRequest$Introspection.class
build/classes/java/main/com/beepit/server/controller/$ChatController$Definition.class
build/classes/java/main/com/beepit/server/controller/$ChatController$Definition$Exec.class
build/classes/java/main/com/beepit/server/controller/$TestController$Definition.class
build/classes/java/main/com/beepit/server/controller/$TestController$Definition$Exec.class
build/classes/java/main/com/beepit/server/controller/AuthController.class
build/classes/java/main/com/beepit/server/controller/AuthController$AddContactRequest.class
build/classes/java/main/com/beepit/server/controller/AuthController$AuthResponse.class
build/classes/java/main/com/beepit/server/controller/AuthController$ConversationInfo.class
build/classes/java/main/com/beepit/server/controller/AuthController$ErrorDTO.class
build/classes/java/main/com/beepit/server/controller/AuthController$LoginRequest.class
build/classes/java/main/com/beepit/server/controller/AuthController$MessageDTO.class
build/classes/java/main/com/beepit/server/controller/AuthController$RegisterRequest.class
build/classes/java/main/com/beepit/server/controller/ChatController.class
build/classes/java/main/com/beepit/server/controller/TestController.class
build/classes/java/main/com/beepit/server/domain/model/$AppUser$Introspection.class
build/classes/java/main/com/beepit/server/domain/model/$Contact$Introspection.class
build/classes/java/main/com/beepit/server/domain/model/$Conversation$Introspection.class
build/classes/java/main/com/beepit/server/domain/model/$Message$Introspection.class
build/classes/java/main/com/beepit/server/domain/model/$MessageType$Introspection.class
build/classes/java/main/com/beepit/server/domain/model/$PrivateMessage$Introspection.class
build/classes/java/main/com/beepit/server/domain/model/$User$Introspection.class
build/classes/java/main/com/beepit/server/domain/model/$UserSession$Introspection.class
build/classes/java/main/com/beepit/server/domain/model/$UserStatus$Introspection.class
build/classes/java/main/com/beepit/server/domain/model/AppUser.class
build/classes/java/main/com/beepit/server/domain/model/Contact.class
build/classes/java/main/com/beepit/server/domain/model/Conversation.class
build/classes/java/main/com/beepit/server/domain/model/Message.class
build/classes/java/main/com/beepit/server/domain/model/MessageType.class
build/classes/java/main/com/beepit/server/domain/model/PrivateMessage.class
build/classes/java/main/com/beepit/server/domain/model/User.class
build/classes/java/main/com/beepit/server/domain/model/UserSession.class
build/classes/java/main/com/beepit/server/domain/model/UserStatus.class
build/classes/java/main/com/beepit/server/websocket/$ChatWebSocketServerWithAkka$Definition.class
build/classes/java/main/com/beepit/server/websocket/$ChatWebSocketServerWithAkka$Definition$Exec.class
build/classes/java/main/com/beepit/server/websocket/ChatWebSocketServerWithAkka.class
build/classes/java/main/com/beepit/server/websocket/ChatWebSocketServerWithAkka$UserSessionInfo.class
build/distributions/beepit-server-1.0.0.tar
build/distributions/beepit-server-1.0.0.zip
build/distributions/beepit-server-optimized-1.0.0.tar
build/distributions/beepit-server-optimized-1.0.0.zip
build/distributions/beepit-server-shadow-1.0.0.tar
build/distributions/beepit-server-shadow-1.0.0.zip
build/docker/main/layers/app/application.jar
build/docker/main/layers/libs/akka-actor_2.13-2.8.5.jar
build/docker/main/layers/libs/akka-actor-typed_2.13-2.8.5.jar
build/docker/main/layers/libs/akka-protobuf-v3_2.13-2.8.5.jar
build/docker/main/layers/libs/akka-slf4j_2.13-2.8.5.jar
build/docker/main/layers/libs/akka-stream_2.13-2.8.5.jar
build/docker/main/layers/libs/config-1.4.2.jar
build/docker/main/layers/libs/jackson-annotations-2.19.2.jar
build/docker/main/layers/libs/jackson-core-2.19.2.jar
build/docker/main/layers/libs/jakarta.annotation-api-2.1.1.jar
build/docker/main/layers/libs/jakarta.inject-api-2.0.1.jar
build/docker/main/layers/libs/logback-classic-1.5.19.jar
build/docker/main/layers/libs/logback-core-1.5.19.jar
build/docker/main/layers/libs/micronaut-aop-4.10.12.jar
build/docker/main/layers/libs/micronaut-buffer-netty-4.10.12.jar
build/docker/main/layers/libs/micronaut-context-4.10.12.jar
build/docker/main/layers/libs/micronaut-context-propagation-4.10.12.jar
build/docker/main/layers/libs/micronaut-core-4.10.12.jar
build/docker/main/layers/libs/micronaut-core-reactive-4.10.12.jar
build/docker/main/layers/libs/micronaut-discovery-core-4.10.12.jar
build/docker/main/layers/libs/micronaut-http-4.10.12.jar
build/docker/main/layers/libs/micronaut-http-client-4.10.12.jar
build/docker/main/layers/libs/micronaut-http-client-core-4.10.12.jar
build/docker/main/layers/libs/micronaut-http-netty-4.10.12.jar
build/docker/main/layers/libs/micronaut-http-server-4.10.12.jar
build/docker/main/layers/libs/micronaut-http-server-netty-4.10.12.jar
build/docker/main/layers/libs/micronaut-inject-4.10.12.jar
build/docker/main/layers/libs/micronaut-jackson-core-4.10.12.jar
build/docker/main/layers/libs/micronaut-json-core-4.10.12.jar
build/docker/main/layers/libs/micronaut-reactor-3.9.1.jar
build/docker/main/layers/libs/micronaut-router-4.10.12.jar
build/docker/main/layers/libs/micronaut-serde-api-2.16.2.jar
build/docker/main/layers/libs/micronaut-serde-jackson-2.16.2.jar
build/docker/main/layers/libs/micronaut-serde-support-2.16.2.jar
build/docker/main/layers/libs/micronaut-websocket-4.10.12.jar
build/docker/main/layers/libs/netty-buffer-4.2.9.Final.jar
build/docker/main/layers/libs/netty-codec-base-4.2.9.Final.jar
build/docker/main/layers/libs/netty-codec-compression-4.2.9.Final.jar
build/docker/main/layers/libs/netty-codec-http-4.2.9.Final.jar
build/docker/main/layers/libs/netty-codec-http2-4.2.9.Final.jar
build/docker/main/layers/libs/netty-codec-socks-4.2.9.Final.jar
build/docker/main/layers/libs/netty-common-4.2.9.Final.jar
build/docker/main/layers/libs/netty-handler-4.2.9.Final.jar
build/docker/main/layers/libs/netty-handler-proxy-4.2.9.Final.jar
build/docker/main/layers/libs/netty-resolver-4.2.9.Final.jar
build/docker/main/layers/libs/netty-transport-4.2.9.Final.jar
build/docker/main/layers/libs/netty-transport-native-unix-common-4.2.9.Final.jar
build/docker/main/layers/libs/reactive-streams-1.0.4.jar
build/docker/main/layers/libs/reactor-core-3.7.12.jar
build/docker/main/layers/libs/scala-java8-compat_2.13-1.0.0.jar
build/docker/main/layers/libs/scala-library-2.13.11.jar
build/docker/main/layers/libs/slf4j-api-2.0.17.jar
build/docker/main/layers/libs/snakeyaml-2.4.jar
build/docker/main/layers/libs/ssl-config-core_2.13-0.6.1.jar
build/docker/main/layers/resources/application.yml
build/docker/main/layers/resources/logback.xml
build/docker/optimized/layers/app/application.jar
build/docker/optimized/layers/libs/akka-actor_2.13-2.8.5.jar
build/docker/optimized/layers/libs/akka-actor-typed_2.13-2.8.5.jar
build/docker/optimized/layers/libs/akka-protobuf-v3_2.13-2.8.5.jar
build/docker/optimized/layers/libs/akka-slf4j_2.13-2.8.5.jar
build/docker/optimized/layers/libs/akka-stream_2.13-2.8.5.jar
build/docker/optimized/layers/libs/config-1.4.2.jar
build/docker/optimized/layers/libs/jackson-annotations-2.19.2.jar
build/docker/optimized/layers/libs/jackson-core-2.19.2.jar
build/docker/optimized/layers/libs/jakarta.annotation-api-2.1.1.jar
build/docker/optimized/layers/libs/jakarta.inject-api-2.0.1.jar
build/docker/optimized/layers/libs/logback-classic-1.5.19.jar
build/docker/optimized/layers/libs/logback-core-1.5.19.jar
build/docker/optimized/layers/libs/micronaut-aop-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-buffer-netty-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-context-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-context-propagation-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-core-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-core-reactive-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-discovery-core-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-http-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-http-client-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-http-client-core-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-http-netty-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-http-server-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-http-server-netty-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-inject-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-jackson-core-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-json-core-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-reactor-3.9.1.jar
build/docker/optimized/layers/libs/micronaut-router-4.10.12.jar
build/docker/optimized/layers/libs/micronaut-serde-api-2.16.2.jar
build/docker/optimized/layers/libs/micronaut-serde-jackson-2.16.2.jar
build/docker/optimized/layers/libs/micronaut-serde-support-2.16.2.jar
build/docker/optimized/layers/libs/micronaut-websocket-4.10.12.jar
build/docker/optimized/layers/libs/netty-buffer-4.2.9.Final.jar
build/docker/optimized/layers/libs/netty-codec-base-4.2.9.Final.jar
build/docker/optimized/layers/libs/netty-codec-compression-4.2.9.Final.jar
build/docker/optimized/layers/libs/netty-codec-http-4.2.9.Final.jar
build/docker/optimized/layers/libs/netty-codec-http2-4.2.9.Final.jar
build/docker/optimized/layers/libs/netty-codec-socks-4.2.9.Final.jar
build/docker/optimized/layers/libs/netty-common-4.2.9.Final.jar
build/docker/optimized/layers/libs/netty-handler-4.2.9.Final.jar
build/docker/optimized/layers/libs/netty-handler-proxy-4.2.9.Final.jar
build/docker/optimized/layers/libs/netty-resolver-4.2.9.Final.jar
build/docker/optimized/layers/libs/netty-transport-4.2.9.Final.jar
build/docker/optimized/layers/libs/netty-transport-native-unix-common-4.2.9.Final.jar
build/docker/optimized/layers/libs/reactive-streams-1.0.4.jar
build/docker/optimized/layers/libs/reactor-core-3.7.12.jar
build/docker/optimized/layers/libs/scala-java8-compat_2.13-1.0.0.jar
build/docker/optimized/layers/libs/scala-library-2.13.11.jar
build/docker/optimized/layers/libs/slf4j-api-2.0.17.jar
build/docker/optimized/layers/libs/snakeyaml-2.4.jar
build/docker/optimized/layers/libs/ssl-config-core_2.13-0.6.1.jar
build/generated/aot/jit.properties
build/generated/aot/native.properties
build/generated/aot/jit/classes/META-INF/services/ch.qos.logback.classic.spi.Configurator
build/generated/aot/jit/classes/META-INF/services/io.micronaut.context.ApplicationContextConfigurer
build/generated/aot/jit/classes/META-INF/services/io.micronaut.core.optim.StaticOptimizations$Loader
build/generated/aot/jit/classes/com/beepit/server/AOTApplicationContextConfigurer.class
build/generated/aot/jit/classes/com/beepit/server/AOTApplicationContextConfigurer$1.class
build/generated/aot/jit/classes/com/beepit/server/DeducedEnvironmentConfigurer.class
build/generated/aot/jit/classes/com/beepit/server/EnvironmentPropertiesOptimizationLoader.class
build/generated/aot/jit/classes/com/beepit/server/KnownMissingTypesOptimizationLoader.class
build/generated/aot/jit/classes/com/beepit/server/NettyPropertiesAOTContextConfigurer.class
build/generated/aot/jit/classes/com/beepit/server/PublishersOptimizationsLoader.class
build/generated/aot/jit/classes/com/beepit/server/StaticLogbackConfiguration.class
build/generated/aot/jit/logs/resource-filter.txt
build/generated/aot/jit/sources/com/beepit/server/AOTApplicationContextConfigurer.java
build/generated/aot/jit/sources/com/beepit/server/DeducedEnvironmentConfigurer.java
build/generated/aot/jit/sources/com/beepit/server/EnvironmentPropertiesOptimizationLoader.java
build/generated/aot/jit/sources/com/beepit/server/KnownMissingTypesOptimizationLoader.java
build/generated/aot/jit/sources/com/beepit/server/NettyPropertiesAOTContextConfigurer.java
build/generated/aot/jit/sources/com/beepit/server/PublishersOptimizationsLoader.java
build/generated/aot/jit/sources/com/beepit/server/StaticLogbackConfiguration.java
build/generated/aot/jit-service-files/META-INF/services/ch.qos.logback.classic.spi.Configurator
build/generated/aot/jit-service-files/META-INF/services/io.micronaut.context.ApplicationContextConfigurer
build/generated/aot/jit-service-files/META-INF/services/io.micronaut.core.optim.StaticOptimizations$Loader
build/generated/aot/native/classes/META-INF/native-image/com.beepit.server/native-image.properties
build/generated/aot/native/classes/META-INF/services/ch.qos.logback.classic.spi.Configurator
build/generated/aot/native/classes/META-INF/services/io.micronaut.context.ApplicationContextConfigurer
build/generated/aot/native/classes/META-INF/services/io.micronaut.core.optim.StaticOptimizations$Loader
build/generated/aot/native/classes/com/beepit/server/AOTApplicationContextConfigurer.class
build/generated/aot/native/classes/com/beepit/server/AOTApplicationContextConfigurer$1.class
build/generated/aot/native/classes/com/beepit/server/DeducedEnvironmentConfigurer.class
build/generated/aot/native/classes/com/beepit/server/EnvironmentPropertiesOptimizationLoader.class
build/generated/aot/native/classes/com/beepit/server/KnownMissingTypesOptimizationLoader.class
build/generated/aot/native/classes/com/beepit/server/NettyPropertiesAOTContextConfigurer.class
build/generated/aot/native/classes/com/beepit/server/PublishersOptimizationsLoader.class
build/generated/aot/native/classes/com/beepit/server/StaticLogbackConfiguration.class
build/generated/aot/native/logs/resource-filter.txt
build/generated/aot/native/sources/com/beepit/server/AOTApplicationContextConfigurer.java
build/generated/aot/native/sources/com/beepit/server/DeducedEnvironmentConfigurer.java
build/generated/aot/native/sources/com/beepit/server/EnvironmentPropertiesOptimizationLoader.java
build/generated/aot/native/sources/com/beepit/server/KnownMissingTypesOptimizationLoader.java
build/generated/aot/native/sources/com/beepit/server/NettyPropertiesAOTContextConfigurer.java
build/generated/aot/native/sources/com/beepit/server/PublishersOptimizationsLoader.java
build/generated/aot/native/sources/com/beepit/server/StaticLogbackConfiguration.java
build/generated/aot/native-service-files/META-INF/services/ch.qos.logback.classic.spi.Configurator
build/generated/aot/native-service-files/META-INF/services/io.micronaut.context.ApplicationContextConfigurer
build/generated/aot/native-service-files/META-INF/services/io.micronaut.core.optim.StaticOptimizations$Loader
build/libs/beepit-server-1.0.0-all-optimized.jar
build/libs/beepit-server-1.0.0-all.jar
build/libs/beepit-server-1.0.0-jit.jar
build/libs/beepit-server-1.0.0-native.jar
build/libs/beepit-server-1.0.0-optimized-runner.jar
build/libs/beepit-server-1.0.0-runner.jar
build/libs/beepit-server-1.0.0.jar
build/optimizedScripts/beepit-server
build/optimizedScripts/beepit-server.bat
build/reports/inspectRuntimeClasspath.txt
build/resources/main/application.yml
build/resources/main/logback.xml
build/scripts/beepit-server
build/scripts/beepit-server.bat
build/scriptsShadow/beepit-server
build/scriptsShadow/beepit-server.bat
build/tmp/.cache/expanded/zip_87eede684869dee261e62a0bfd7e4a92/META-INF/services/ch.qos.logback.classic.spi.Configurator
build/tmp/.cache/expanded/zip_87eede684869dee261e62a0bfd7e4a92/META-INF/services/io.micronaut.context.ApplicationContextConfigurer
build/tmp/.cache/expanded/zip_87eede684869dee261e62a0bfd7e4a92/META-INF/services/io.micronaut.core.optim.StaticOptimizations$Loader
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/jar/MANIFEST.MF
build/tmp/optimizedJitJar/MANIFEST.MF
build/tmp/optimizedJitJarAll/MANIFEST.MF
build/tmp/optimizedNativeJar/MANIFEST.MF
build/tmp/optimizedRunnerJitJar/MANIFEST.MF
build/tmp/runnerJar/MANIFEST.MF
build/tmp/shadowJar/MANIFEST.MF
