micronaut:
  application:
    name: beepitServer
  server:
    port: 8080
    cors:
      enabled: true
      configurations:
        web:
          allowedOrigins:
            - "*"
          allowedMethods:
            - GET
            - POST
            - PUT
            - DELETE
            - OPTIONS
  security:
    enabled: false
  views:
    thymeleaf:
      enabled: true

jackson:
  serialization:
    writeDatesAsTimestamps: false
  deserialization:
    failOnUnknownProperties: false

netty:
  default:
    allocator:
      max-order: 3
